* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #5f78c7;
}

div {
    width: 100%;
    height: 500px;
    /* border: 1px red solid; */
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 1000px;
    height: 350px;
    border: 1px white solid;
    border-radius: 5px;
    background-color: white;
}

.design {
    width: 317px;
    height: 300px;
    background-color: white;
    /* border: 1px blue solid; */
    display: flex;
    flex-direction: column;
}

.design:hover {
    cursor: pointer;
    /* box-shadow: 1px 1px 1px 1px #20212447; */
    background-color: #ededed;
}

.design figure {
    margin: 15px 0px 15px 0px;
    width: inherit;
    height: 60px;
    display: flex;
    justify-content: center;
}

.design figure img {
    width: 60px;
    height: 60px;
}

.p-title {
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 5px;
    color: #295bab;
    margin: 10px 0px 10px 0px;
}

.p-description {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #828181;
    text-align: center;
    margin: 10px 5px 10px 5px;
    padding: 5px 30px 5px 50px;
}

.precio {
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    color: #295bab;
    margin: 10px 0px 15px 0px;
    box-sizing: border-box;
}

.moneda {
    font-size: 18px;
    position: relative;
    top: -13px;
}

.cantidad {
    font-size: 35px;
}